.App {
  text-align: center;
}

.main-container {
  background-color: #ffffff;
}

.weather-widget {
  background-color: #f3f3f33d;
  border-radius: 10px;
  border: solid 2px rgb(224, 221, 221);
}

.table-container {
  border-radius: 5px; 
} 

.table-container-cells {
  border: collapse;
  border: 2px solid black;
}

ul.pipe-decoration {
  list-style: none;
  padding-left: 20px;
}

ul.pipe-decoration li {
  background: url('./assets/pipe.PNG') no-repeat left center;
  padding-left: 20px;
  background-size: 18px 18px;

}

a {
  text-decoration: none;
}
